<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Hours</title>
</head>
<body>
    <h1>Our Hours</h1>
    <ul>
        <% for (let day of days) { %>
            <% const hoursObjs = operationHours[day] || operationHours['defaultHours'] %>
            <section style="display: inline-flex; flex-direction: column; padding: 5px;">
                <h2><%= day.toUpperCase() %></h2>
                <div>
                    <% if (hoursObjs.open) { %>
                        <p>Open: <%= hoursObjs.open %></p>
                        <p>Close: <%= hoursObjs.closed %></p>
                    <% } else { %>
                        <p>CLOSED</p>
                    <% } %>
                </div>
            </section>
        <% } %>
    </ul>
</html>